.timer{
    width: 50px;
    border: solid 3px rgb(0,0,140);
    border-radius: 5px;
    color: rgb(0,0,140);
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px auto;
    font-weight: 900;
    text-align: center;
}