body {
    background-color: lightblue;
    font-family: Impact, Charcoal, sans-serif;
}
.History {
    background: lightblue;
    color: darkblue;
    font-size: 15px;
    font-weight: 400;
    margin: 50px auto;
    border: 1px solid darkblue;
    max-width: 250px;

}
h1 {
    color: darkblue;
    background: lightblue;
    border: 2px solid darkblue;
    font-size: 60px;
    font-weight: 800;
    cursor: pointer;
    outline: none;
    text-align: center;
    width: 400px;
    margin: 30px auto; 
}